.ytp-ce-element {
    display: none !important;
  }
  
  .iv-annotation {
    display: none !important;
  }
  
  .ytp-cards-button {
    display: none !important;
  }
  
  .ytp-cards-teaser {
    display: none !important;
  }
  